body{
  background:black;
  color:white;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
 height:100vh;
    max-width:100%;
}
#root{
  background:black;
  overflow-x: hidden;
  overflow-y: auto;

}
*{
   box-sizing: border-box;
 }
a{
  text-decoration: none;
  color:yellow;
}:focus{
  color:yellow;
}

.red{
color:red
}
.white{
  color:white;
}
.wow{
  color:yellow;

}
.gold{
  margin-top: 2em;
 color:yellow;
 letter-spacing:0.9rem;
}
.header, th{
  font-size: 1.3rem;
  margin-top: 0;
  font-weight:bold;
  color:yellow;
  text-shadow:1px 1px 1px black;
  font-family: "Open Sans", sans-serif;
}
.btn{
  border:none;
  outline:none;
  padding: 0.5rem 1rem;
  background-color:white;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px black;
   text-align:center;
   margin:1em 3em;

  &:hover{
    background-color:rgba(255, 255, 0, 0.616);
  }
}
.btnnn{
  border:none;
  outline:none;
  padding: 0.5rem 1rem;
  background-color:white;
  font-size: 1.2rem;
   text-align:center;
   margin:0;
   position:fixed;
   bottom:0;

  &:hover{
    background-color:rgba(255, 255, 0, 0.616);
  }
}



///NAVBAR///////////

////Contact us///////

.social{
text-align:center;
display:flex;
background:rgba(239, 195, 21, 0.646);
max-width: 100%;
margin-right: 0;
height:1.8rem;
 a{
 margin:0 2rem;

}
}
.Nav-Wrapper{
display:flex;
background:linear-gradient(rgba(6, 7, 8, 0.92),rgba(0, 0, 0, 0.941)),
url("./Components/Images/coverpage2.jpg") center/cover no-repeat;
height:2.5rem;

}

.NavLink1 {

  align-items: center;
  margin-top:0rem;
  padding: 1rem;
  text-shadow: 1px 1px white;
  letter-spacing: 1rem;
  align-self: start;

  @media screen and (max-width: 700px) {
   font-size:0.8rem;
  letter-spacing: 0.6rem;
 text-shadow: 0.8px 0.8px white;

  }
  }
.NavLink {
  color: white;
  display: flex;
  margin-top:0;
  align-items: center;
  text-decoration: none;
  padding: 1rem;
  text-shadow: 0.6px 0.6px white;
  letter-spacing: 0.3rem;
  cursor: pointer;
   &:active,&:focus{
    color: yellow;
  }

  @media screen and (max-width: 700px) {
    
font-size:0.6rem;

  }


}
 .NavBtnLink{

  border-radius: 4px;
  padding: 10px 22px;
  color:white;
  border: 1px  solid white;
text-shadow: 0.6px 0.6px white;


 @media screen and (max-width: 700px) {
    //////
   padding:5px 11px;
  font-size:0.6rem;
  }

 }




 .menu{
  display: flex;
  align-items: center;
  margin-left:50rem;
  text-transform:uppercase;
   
  @media screen and (max-width: 700px) {
    //////
  margin-left:0rem;


  }
 }





///HAMBURGER MENU///
@media screen and (max-width: 700px) {

  .Nav .checkbox:checked ~.NavMenu {
    visibility: visible;
  }
}




///////HOME///////////////////////
.Homepage{
  padding:2em;
   background:linear-gradient(rgba(7, 8, 9, 0.864),rgba(0, 0, 0, 0.809)),
   url("./Components/Images/coverpage2.jpg") center/cover no-repeat;
   text-align: center;
   height:100vh;
    max-width:100%;
    
  h2{

    text-align: center;
     margin-top:4em;
    font-size: 2.3rem;
    color:white;
    letter-spacing:0.3rem;

    span{
      color:yellow;
    }
}

h3{
  line-height: 1.2rem;
      font-size: 0.9rem;
 
}
   .btnn{
     margin-top: 3rem;
   padding: 1rem;
   border:0.8px solid white ;
   outline:none;
   background: none;
    font-size: 1.3rem;
    color:yellow;

  }
  .btnn:hover{
    transition: 1s;
    border:0.9px solid yellow;
  }
  @media (max-width:700px){
   padding-top:4em;
    max-width:100%;
    h2{
      font-size: 1.7rem;
          margin-top: 3rem;
        letter-spacing:0.2rem;
       margin-bottom: 2rem;
      padding: 0;
    }

    .btnn{
      font-size: 1rem;
    }

  }
}
/////////////////////////ABOUT///////////////////
.About{
padding:2em;
background: linear-gradient(
      60deg,
        rgba(0, 0, 0, 0.664),
      rgba(0, 0, 0, 0.794)90%
    ),
    url("./Components/Images/bun.jpg") center/cover no-repeat;


.intro{
  padding-top:6em;
  text-align: center;
  h2{
    color:yellow;
    margin-bottom:2em;
    text-align:center; }
  p{
    text-align:center;
    align-self: flex-start;
    margin:2em 6em;

    @media (max-width:900px){
     margin: 0.5em 4em;
    }


  }
  .white{
    color:white;
  }
   .gold{
     margin-top: 2em;
    color:yellow;
    letter-spacing:0.9rem;
  }
}

.why-text{
  text-align: center;
  margin-top:10em ;
}
.Services-wrapper{
  display: flex;
  justify-content: space-between;

  @media (max-width:900px){
    flex-direction:column;
  }
h3{
  color:yellow;
}
}
.box{
  height:20rem;
  padding:2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow:-20px 10px 15px rgba(0, 0, 0, 0.637);

  @media (max-width:900px){
    margin: 2em;
  }




}

}

.ffooter{
  padding: 2rem;
  margin-top: 10em;
  display:flex;
  justify-content:space-between;
  color:rgba(255, 255, 255, 0.404);

  @media (max-width:600px){
    flex-direction:column;
  }
}

///FORMS//////
.form-container {
  width:100%;
  min-height:120vh;
  display: flex;
  height:400px;
  flex-direction: column;
  align-items: center;
  margin:1.5em;

  .content {
    margin-top: 4em;
    display: flex;
    flex-direction: column;

    .image {
      width:100px;
      img {
        max-width: 100%;
      }
    }

    .form {
      align-items: center;

      .form-group { 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        label {
          font-size:1rem;
        }

        input{
          margin-top:0.6rem;
          max-width:20em;
          height:2rem;
          padding: 0px 10px;
          font-size: 1rem;
          font-family: "Open Sans", sans-serif;
          background-color: #f3f3f3;
          color:black;
          border: 0;
          border-radius: 4px;
          border:none;
          outline:none;
          margin-bottom:1.2rem;
          transition: all 250ms ease-in-out;

           &:hover {

            cursor: pointer;
          }

        }

        textarea{

          color:black;
        }
      }
    }
  }

  .footer {
    margin-top:1em;
  }


  .toggler{
    margin-top:0.3em;
     float:left;
    a{ margin-left:0.3em ;}
  }


}
///////////////DASHBOARD///////////////////////

.posts{
   min-height:130vh;
   max-width:100%;
   margin: 0;
   background:  linear-gradient(
    60deg,
      rgba(0, 0, 0, 0.664),
    rgba(39, 38, 38, 0.794)90%
  ),url("./Components/Images/Dashboard2.jpg") center/cover no-repeat;

  
  .NavBtnLink{

    background-color: red;
    color:white;
    position:absolute;
    margin-top:10em;
    right:0;
   

  }

}

.Dashboard{
   display: flex;
   justify-content:space-between;
   width:100%;
   margin: 0;
   @media (max-width:900px){
    flex-direction: column;
   }


.form-container{
  width:50%;
  margin-top:4em;
  margin-left: 10em;

 @media (max-width:900px){
    
    margin-left:5em;
   }



 .form-group{
  margin-bottom: 0;

  }


  }


  }

  .display{
    margin-left: 4em;
    display:flex;
}

.display1{
display:flex;
flex-wrap: wrap;
margin:2em 0  0 1em;
 @media (max-width:900px){
    flex-direction: column;
    margin-top:1em;
   }
  }
